@page "/"
@attribute [Authorize]

@using System.Text.Json
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider


<PageTitle>Index</PageTitle>

<h1>Hello, @authenticationState?.Result?.User?.Identity?.Name</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<AuthorizeView>
    <Authorized>
        <div>The user is currently authorized</div>
    </Authorized>
    <NotAuthorized>
        <div>The user is <b>NOT</b> authorized</div>
    </NotAuthorized>
</AuthorizeView>

@*<AuthorizeView Roles="somerole">
    <Authorized>
        <div>The user has the <b>Global Reader</b> role</div>
    </Authorized>
</AuthorizeView>*@


@code
{
    [CascadingParameter] private Task<AuthenticationState> authenticationState{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity.IsAuthenticated)
        {
            // Handle not authenticated scenario, maybe navigate to a login page
            Console.WriteLine("++++++ User is NOT authenticated ++++++");
        }
        else
        {
            Console.WriteLine("++++++ User is authenticated ++++++");

            var username = user.Identity.Name;
            Console.WriteLine($"Username [{username}]");

            // Lets get the principle claims
            var claimsIdentity = user.Identity as ClaimsIdentity;
            if (claimsIdentity != null)
            {
                Console.WriteLine($"There are {claimsIdentity.Claims.Count()} total claims associated to this user");
                foreach (var claim in claimsIdentity.Claims)
                {
                    var claimType = claim.Type;
                    var claimValue = claim.Value;
                    Console.WriteLine($"   {claimType} = {claimValue}");
                }
            }

            var roles = claimsIdentity?.FindAll(ClaimTypes.Role).Select(c => c.Value).ToList();
            Console.WriteLine($"There are {roles?.Count()} roles available with this user");
            if (roles != null)
            {
                foreach (var role in roles)
                {
                    Console.WriteLine($"{role}");
                }
            }
        }
    }
}
